html,
body {
  margin: 0;
}

body {
  background-color: rgba(144, 155, 172, 0.08);
}

* {
  font-family: Helvetica, sans-serif;
}

.no-gap {
  gap: 0;
}

.navbar-toggler {
  border: 0px !important;
}

#navbar {
  background-color: #fff;
  box-shadow: 0 4px 4px #0000000a, 0 12px 24px #0000000d;
}

main {
  padding-top: 115px;
}

form {
  max-width: 1124px;
}

#brand-card {
  min-width: 228px;
  max-width: 320px;
  margin: 1px;
}

#brand-card .brand-card-icon {
  width: 1rem;
  fill: none;
  stroke-width: 2;
}

#brand-avatar {
  border: 1px solid #e98300;
}

#history-button {
  background-color: white;
}

#highlight {
  font-size: 20px;
  font-weight: 700;
}

.badge {
  background-color: rgba(144, 155, 172) !important;
}

.pre {
  white-space: pre;
}

.form-switch {
  transform: scale(1.4, 1.5) !important;
  transform-origin: center !important;
}

.form-switch .form-check-input {
  background-color: lightgrey;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch input::after {
  color: purple;
}

.form-switch .form-check-input:focus {
  box-shadow: 0 0 0 0;
  border: 0;
}

.form-switch .form-check-input:checked {
  box-shadow: 0 0 0 0;
  background-color: #2488cf;
}

#instructions-input:focus {
  outline: 0 none;
}

#instructions-input::placeholder {
  color: lightgrey;
  font-size: 0.9rem;
}

#help-button {
  background-image: radial-gradient(
    93.54% 235.77% at 3.38% 14.65%,
    #def133 0%,
    #4bb4ff 100%
  );
  border: 0;
  color: black;
}

#vibe-select {
  background-position: top right 10px;
  background-size: 1.2rem;
}

#vibe-select:focus {
  box-shadow: none;
}

#format-card:hover {
  cursor: pointer;
}

#floating-select {
  background-color: #fff;
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  display: none;
}

#floating-select[data-show] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#floating-select,
.floating-select__option:hover {
  cursor: pointer;
}

#filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: none;
}

#filter-button:hover {
  background-color: inherit;
  border: 0;
}

#floating-selection {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 40px;
  padding: 2px 0;
  font-weight: 300;
  font-size: 12px;
}

.floating-select__option {
  text-align: center;
  margin: 0.3rem 0;
  border: 1px solid black;
}

.floating-select__option__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

#floating-select[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#floating-select[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#floating-select[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#floating-select[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

#generate-button, #dismiss-modal-button {
  background-color: rgb(36, 136, 207);
  border: 0;
}
#generate-button:hover, #dismiss-modal-button:hover {
  background-color: #4bb4ff;
}

#support {
  width: 48px;
  height: 48px;
  border: 0;
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  bottom: 20px;
  right: 20px;
  background-color: #4bb4ff;
}

#support svg {
  width: 24px;
  height: 24px;
}

#support path {
  fill: #fff;
}

/* THEME TOGGLE */
#theme-toggle:hover {
  cursor: pointer;
}

/* DARK STYLES */
.dark {
  background-color: #151515 !important;
  color: white !important;
}

.dark #navbar {
  background-color: #000;
}

.dark #navbar * {
  color: white !important;
}

.dark .card, 
.dark input[type=text], 
.dark select, 
.dark #filter-button,
.dark #history-button,
.dark #floating-select, 
.dark .modal-dialog *  
{
  background-color: #332D2D;
  color: white;
}

.dark #modal-toggle-button {
  color: white !important;
}

.dark #floating-selection {
  background-color: rgb(240, 240, 240);
  color: black;
}

.dark .floating-select__option {
  border: 1px solid white;
}

@media (max-width: 767px) {
  .navbar-brand img {
    width: 195px;
  }
  .navbar-nav {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -60px
  }
  .navbar-toggler {
    z-index: 2;
  }
  main {
    padding-top: 100px;
  }
}
